{% extends "base.html" %}

{% block content %}
<h3 class="text-center">View Employees</h3>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
{% for e in employees %}
<tr>
    <td>{{ e.id }}</td>
    <td>{{ e.name }}</td>
    <td>{{ e.role }}</td>
    <td>{{ e.phone }}</td>
    <td>{{ e.department }}</td>
    <td>
        <a href="/edit_employee/{{ e.id }}" class="btn btn-warning btn-sm">Edit</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
